.editorWrapper {
  position: relative;
  height: 100%;
}

.contentEditable {
  height: 100%;
  width: 100%;
  border: 1px solid #e8ebf0;
  border-radius: 4px;
  padding: 8px;
  background: #f8fafb;
}

.contentEditable:focus {
  outline: none;
  border: 1px solid #3370ff;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(51, 112, 255, 0.2);
}

.placeholder {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 12px;
  color: #a8acb6;
}

.variable {
  color: #3370ff;
}

.typeaheadPopover {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  border-radius: 4px;
  position: fixed;
  width: 200px;
  z-index: 9999;
}

.variableItem {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.variableItem_selected {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e3eafd;
  color: #436ff6;
}

.variableText {
  margin-left: 4px;
}
