public-hoist-pattern[]=*tiktoken*
public-hoist-pattern[]=*@zilliz/milvus2-sdk-node*
public-hoist-pattern[]=*@mariozechner/pi-ai*
public-hoist-pattern[]=*@mariozechner/pi-agent-core*
registry=http://mirrors.sangfor.org/nexus/repository/npm
