.newChat {
  .modelListContainer {
    height: 0;
    overflow: hidden;
  }
  .modelList {
    border-radius: 6px;
  }
  &:hover {
    .modelListContainer {
      height: 60vh;
    }
    .modelList {
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.05);
      border: 1px solid #dee0e2;
    }
  }
}
