LOG_DEPTH=3
# 默认用户密码，用户名为 root，每次重启时会自动更新。
DEFAULT_ROOT_PSW=123456
# 数据库最大连接数
DB_MAX_LINK=5
TOKEN_KEY=fastgpt
# 文件阅读时的密钥
FILE_TOKEN_KEY=filetokenkey
# 密钥加密key
AES256_SECRET_KEY=fastgptsecret
# root key, 最高权限
ROOT_KEY=fdafasd
# 强制将图片转成 base64 传递给模型
MULTIPLE_DATA_TO_BASE64=true

# 临时解决-emb 模型单次并发量
EMBEDDING_CHUNK_SIZE=10

# 是否隐藏版权信息配置，只有值为 'true' 时隐藏
HIDE_CHAT_COPYRIGHT_SETTING=

# Service url
# 商业版地址
# PRO_URL=
# Plugin
PLUGIN_BASE_URL=http://localhost:3003
PLUGIN_TOKEN=token
# code sandbox url
SANDBOX_URL=http://localhost:3002
# ai proxy api
AIPROXY_API_ENDPOINT=https://localhost:3010
AIPROXY_API_TOKEN=aiproxy
# OpenAI Base URL
# OPENAI_BASE_URL=https://api.openai.com/v1
# CHAT_API_KEY=sk-xxxx

# S3 Config
S3_EXTERNAL_BASE_URL=
S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_PUBLIC_BUCKET=fastgpt-public # 插件文件存储公开桶
S3_PRIVATE_BUCKET=fastgpt-private # 插件文件存储公开桶
S3_PATH_STYLE=true    # forcePathStyle 默认为 true, 当且仅当设置为 false 时关闭, 其他值都为 true
S3_REGION=            # 如果是本地部署的 MinIO等服务就不需要；如果是云服务就需要，比如 aws 的或者国内 oss 厂商

# Redis URL
REDIS_URL=redis://default:mypassword@127.0.0.1:6379
# mongo 数据库连接参数，本地开发连接远程数据库时，可能需要增加 directConnection=true 参数，才能连接上。
MONGODB_URI="mongodb://myusername:mypassword@localhost:27017/fastgpt?authSource=admin&directConnection=true"
# 日志库
MONGODB_LOG_URI="mongodb://myusername:mypassword@localhost:27017/fastgpt?authSource=admin&directConnection=true"
# 向量库优先级: pg > oceanbase > milvus
# PG 向量库连接参数
PG_URL=postgresql://username:password@localhost:5432/postgres
# OceanBase 向量库连接参数
# OCEANBASE_URL=
# # milvus 向量库连接参数
# MILVUS_ADDRESS=
# MILVUS_TOKEN=


# 页面的地址，用于自动补全相对路径资源的 domain，注意后面不要跟 /
FE_DOMAIN=http://localhost:3000
# 文件域名，也是指向 FastGPT 服务，但是如果希望内容足够安全，可以独立分配一个域名，避免高危文件读取到主域名的内容。
FILE_DOMAIN=http://localhost:3000
# 二级路由，需要打包时候就确定
# NEXT_PUBLIC_BASE_URL=/fastai

# 日志等级: debug, info, warn, error
LOG_LEVEL=debug
STORE_LOG_LEVEL=warn

# Signoz
SIGNOZ_BASE_URL=
SIGNOZ_SERVICE_NAME=
SIGNOZ_STORE_LEVEL=warn

# 插件市场
MARKETPLACE_URL=https://marketplace.fastgpt.cn

# 申请应用备案地址
APP_REGISTRATION_URL=

# 安全配置
# 启动 IP 限流(true)，部分接口增加了 ip 限流策略，防止非正常请求操作。
USE_IP_LIMIT=false
# 工作流最大运行次数，避免极端的死循环情况
WORKFLOW_MAX_RUN_TIMES=500
# 循环最大运行次数，避免极端的死循环情况
WORKFLOW_MAX_LOOP_TIMES=50
# 服务器接收请求，最大大小，单位 MB
SERVICE_REQUEST_MAX_CONTENT_LENGTH=10
# 启用内网 IP 检查
CHECK_INTERNAL_IP=false
# 密码错误锁时长:s
PASSWORD_LOGIN_LOCK_SECONDS=
# 密码过期月份，不设置则不会过期
PASSWORD_EXPIRED_MONTH=
# 最大登录客户端数量，默认为 10
MAX_LOGIN_SESSION=
# 工作流QPM
CHAT_MAX_QPM=5000

# 特殊配置
# 自定义跨域，不配置时，默认都允许跨域（逗号分割）
ALLOWED_ORIGINS=
# 是否展示兑换码功能
SHOW_COUPON=false
# 是否展示优惠券功能
SHOW_DISCOUNT_COUPON=false
# 自定义 config.json 路径
CONFIG_JSON_PATH=

# 对话日志推送服务
# # 日志服务地址
# CHAT_LOG_URL=http://localhost:8080
# # 日志推送间隔
# CHAT_LOG_INTERVAL=10000
# # 日志来源ID前缀
# CHAT_LOG_SOURCE_ID_PREFIX=fastgpt-
