@import './reactflow.scss';
@import './default.scss';
@import './chakraui.scss';

body,
h1,
h2,
h3,
h4,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
svg {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(189, 193, 197, 0.7);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(189, 193, 197, 1);
}

div {
  &::-webkit-scrollbar-thumb {
    background: rgba(189, 193, 197, 0.7) !important;
    transition: background 1s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(189, 193, 197, 1) !important;
  }
}

input::placeholder,
textarea::placeholder {
  font-size: var(--chakra-fontSizes-mini);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
