.docs-content .main-content img, .docs-content .main-content svg {
    max-width: 80% !important;
    height: auto;
    display: block !important;
    margin: 0 auto !important;
    border-radius: .25rem;
}