# Dependencies
node_modules

# Environment files
.env
.env.local
.env.*.local
.env.test

# Build
dist
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage

# Bun
bun.lockb
