
ACCESS_TOKEN=114514
DETECT_WEBSITE = zhuanlan.zhihu.com
STRATEGIES=[{"waitUntil":"networkidle0","timeout":5000},{"waitUntil":"networkidle2","timeout":10000},{"waitUntil":"load","timeout":15000}]
PORT=3000
MAX_CONCURRENCY=10
NODE_ENV=development
ENGINE = [

]

ENGINE_BAIDUURL=https://www.baidu.com/s
#ENGINE_SEARCHXNGURL=http://localhost:8080/search
ENGINE_SEARCHXNGURL=http://searxng:8080/search

#MONGODB_URI=mongodb://root:example@localhost:27017
MONGODB_URI=mongodb://root:example@mongodb:27017
BLACKLIST = [".gov.cn",".edu.cn"]

STD_TTL=3600
EXPIRE_AFTER_SECONDS=9000

#VALIDATE_PROXY=[{"ip":"","port":},{"ip":"","port":}]