.stopIcon {
  animation: zoomStopIcon 0.4s infinite alternate;
}
@keyframes zoomStopIcon {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

.newChat {
  .modelListContainer {
    height: 0;
    overflow: hidden;
  }
  .modelList {
    border-radius: 6px;
  }
  &:hover {
    .modelListContainer {
      height: 60vh;
    }
    .modelList {
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.05);
      border: 1px solid #dee0e2;
    }
  }
}

.statusAnimation {
  animation: statusBox 0.8s linear infinite alternate;
}
@keyframes statusBox {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.11;
  }
}
