STORAGE_VENDOR=minio
STORAGE_PUBLIC_BUCKET=fastgpt-plugins
STORAGE_S3_ENDPOINT=http://localhost:9000
STORAGE_EXTERNAL_ENDPOINT=http://localhost:9000
STORAGE_S3_FORCE_PATH_STYLE=true
STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin
AUTH_TOKEN=xxxx
MONGODB_URI="mongodb://myusername:mypassword@localhost:27017/fastgpt?authSource=admin&directConnection=true"
